<!-- The HTML form
<form action='/users' method='post' accept-charset="UTF-8">
  <label for='user[username]'>Username</label>
  <input name='user[username]' type='text'>
  <label for='user[email]'>Email</label>
  <input name='user[email]' type='text'>
  <label for='user[password]'>Password</label>
  <input name='user[password]' type='password'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form>
-->

<!-- The form_tag form
<%= form_tag('/users') do |f|%>
  <%= label_tag 'username' %>
  <%= text_field_tag 'username' %>
  <%= label_tag 'email' %>
  <%= email_field_tag 'email' %>
  <%= label_tag 'password' %>
  <%= password_field_tag 'password' %>
  <%= submit_tag %>
<% end %>
-->

<%= form_for @user do |u|%>
  <%= u.label :username %>
  <%= u.text_field :username %>
  <%= u.label :email %>
  <%= u.email_field :email %>
  <%= u.label :password %>
  <%= u.password_field :password %>
  <%= u.submit %>
<% end %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2> 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>